<div dash-class ng-if="dashboard">
	<dashnav dashboard="dashboard"></dashnav>

	<div class="dashboard-container">
		<div dash-editor-view class="dash-edit-view"></div>
		<div class="clearfix"></div>

		<dashboard-submenu ng-if="dashboard.meta.submenuEnabled" dashboard="dashboard"></dashboard-submenu>

		<div class="clearfix"></div>

    <dash-row class="dash-row" ng-repeat="row in dashboard.rows" row="row" dashboard="dashboard">
    </dash-row>

    <div ng-show='dashboard.meta.canEdit && !dashboard.meta.fullscreen' class="add-row-panel-hint">
      <div class="span12" style="text-align:left;">
        <span style="margin-left: 12px;" ng-click="addRowDefault()" class="pointer btn btn-inverse btn-small">
          <span><i class="fa fa-plus"></i> Dodaj wiersz</span>
        </span>
      </div>
    </div>
  </div>
</div>
