<div class="login-container container">

	<div class="login-box">

		<div class="login-box-logo">
			<img class="logo-icon" src="public/img/grafana_icon.svg"></img><br>
			<i class="icon-gf icon-gf-grafana_wordmark"></i>
		</div>

		<div class="login-inner-box">
			<div class="login-tab-header">
				<button class="btn-login-tab" class="active">
					Reset password
				</button>
			</div>

			<form name="sendResetForm" class="login-form gf-form-group" ng-show="mode === 'send'">
				<div class="gf-form">
						<span class="gf-form-label width-7">User</span>
						<input type="text" name="username" class="gf-form-input max-width-14" required ng-model='formModel.userOrEmail' placeholder="email lub użytkownik">
				</div>

				<div class="gf-form-button-row">
					<br />
					<br />
					<button type="submit" class="btn btn-large" ng-click="sendResetEmail();" ng-class="{'btn-inverse': !sendResetForm.$valid, 'btn-primary': sendResetForm.$valid}">
						Reset Password
					</button>
				</div>
			</form>


			<div style="text-align: center; padding: 20px;" ng-if="mode === 'email-sent'">
				An email with a reset link as been sent to the email address. <br>
				You should receive it shortly.
			</div>

			<br />
			<br />

			<form name="resetForm" class="login-form gf-form-group" ng-show="mode === 'reset'">
				<div class="gf-form">
					<span class="gf-form-label width-10">New Password</span>
					<input type="password" name="NewPassword" class="gf-form-input max-width-14" required ng-minlength="4" ng-model='formModel.newPassword' placeholder="password" watch-change="formModel.newPassword = inputValue;">
				</div>
				<div class="gf-form">
					<span class="gf-form-label width-10">Confirm Password</span>
					<input type="password" name="ConfirmPassword" class="gf-form-input max-width-14" required ng-minlength="4" ng-model='formModel.confirmPassword' placeholder="confirm password">
				</div>

				<div style="margin-left: 141px; width: 207px;">
					<password-strength password="formModel.newPassword"></password-strength>
				</div>

				<div class="gf-form-button-row">
					<button type="submit" class="btn" ng-click="submitReset();" ng-class="{'btn-inverse': !resetForm.$valid, 'btn-primary': resetForm.$valid}">
						Reset Password
					</button>
				</div>
			</form>
		</div>

		<div class="row" style="margin-top: 20px">
			<div class="text-center">
				<a href="login">Back to login</a>
			</div>
		</div>
	</div>
</div>

