<ul class="nav gf-timepicker-nav">

	<li class="dashnav-move-timeframe gf-timepicker-time-control" bs-tooltip="'Shift time backward <br> (left arrow key)'" data-placement="bottom">
		<a ng-click='ctrl.move(-1)'><i class="fa fa-chevron-left"></i></a>
	</li>
	<li class="dashnav-zoom-out gf-timepicker-time-control" bs-tooltip="'Time range zoom out <br> CTRL+Z'" data-placement="bottom">
		<a ng-click='ctrl.zoom(2)'>Oddal</a></li>
	</li>
	<li class="dashnav-move-timeframe gf-timepicker-time-control" bs-tooltip="'Shift time forward <br> (right arrow key)'" data-placement="bottom">
		<a ng-click='ctrl.move(1)'><i class="fa fa-chevron-right"></i></a>
	</li>

	<li>
		<a bs-tooltip="ctrl.tooltip" data-placement="bottom" ng-click="ctrl.openDropdown()" class="gf-timepicker-nav-btn">
			<i class="fa fa-clock-o"></i>
			<span ng-bind="ctrl.rangeString"></span>
			<span ng-show="ctrl.isUtc" class="gf-timepicker-utc">
				UTC
			</span>

			<span ng-show="ctrl.dashboard.refresh" class="text-warning">
				&nbsp;
				Odświeżaj co {{ctrl.dashboard.refresh}}
			</span>
		</a>
	</li>

	<li class="dashnav-refresh-action">
		<a ng-click="ctrl.timeSrv.refreshDashboard()">
			<i class="fa fa-refresh"></i>
		</a>
	</li>

</ul>
