<div class="dash-row-dropview">
	<a class="dash-row-dropview-close pointer" ng-click="ctrl.rowCtrl.closeDropView();">
		<i class="fa fa-remove"></i>
	</a>

  <div class="gf-form-inline dash-row-add-panel-form">
    <div class="gf-form">
      <input type="text" class="gf-form-input max-width-14" ng-model='ctrl.panelSearch' give-focus='true' ng-keydown="ctrl.keyDown($event)" ng-change="ctrl.panelSearchChanged()" placeholder="wyszukaj panel"></input>
    </div>
  </div>

  <div class="add-panel-panels-scroll">
    <div class="add-panel-panels">
      <div class="add-panel-item"
					ng-repeat="panel in ctrl.panelHits"
					ng-class="{active: $index === ctrl.activeIndex}"
					ng-click="ctrl.addPanel(panel)"
					ui-draggable="true"
					drag="panel.id"
          title="{{panel.name}}">
        <img class="add-panel-item-img" ng-src="{{panel.info.logos.small}}"></img>
        <div class="add-panel-item-name">{{panel.name}}</div>
      </div>
    </div>
  </div>

</div>
